/.build/
/_build/
/Build
/Build.bat
/blib

/carton.lock
/cpanfile.snapshot
/.carton/
/local/

nytprof.out
nytprof/

cover_db/

*.bak
*.old
*~
*.swp
*.o
*.obj

!LICENSE

/_build_params

MYMETA.*

/Pod-Cpandoc-Cache-*
